<h2>My Off-GitHub Creations</h2>
<p>Here are some of my creations that are not hosted on GitHub:</p>
<ul>
    
    <li><b>Projet web Fishing :</b> < a href="geofish.fr" > GeoFish.fr < /a > </li>
    <li><b>Android APP fiber optic :</b></b> < a href="https://play.google.com/store/apps/details?id=goofiber.app.gofiber" > GoFiber < /a > </li>

</ul>

<div class="project">
    <h3>Project Name</h3>
    <p>Description of the project...</p>
    <a href="YOUR_LINK_HERE" target="_blank">View Project</a>
    <img src="PATH_TO_YOUR_IMAGE" alt="Description of the image" width="100"/>
</div>
